<div class="-m-6 flex flex-auto flex-col">
    <!-- Header -->
    <div
        class="flex h-16 flex-0 items-center justify-between bg-primary pl-6 pr-3 shadow sm:pl-8 sm:pr-5"
    >
        <span class="truncate font-medium text-white"> Chuyển Văn Bản Đi </span>
        <div>
            <button
                mat-icon-button
                (click)="matDialogRef.close()"
                [tabIndex]="-1"
            >
                <mat-icon
                    class="text-white"
                    [svgIcon]="'heroicons_outline:x-mark'"
                ></mat-icon>
            </button>
        </div>
    </div>

    <div class="item flex h-full flex-col p-6 sm:p-8">
        <form [formGroup]="formSend">
            <div class="flex w-full gap-8">
                <mat-form-field class="w-full">
                    <mat-label>Phòng Ban Tiếp Nhận</mat-label>
                    <mat-select (selectionChange)="onDepartmentChanged($event)">
                        <ng-container *ngFor="let item of departments">
                            <mat-option [value]="item">{{
                                item.name
                            }}</mat-option>
                        </ng-container>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="w-full">
                    <mat-label>Người Nhận</mat-label>
                    <mat-select [formControlName]="'receiverId'">
                        <ng-container *ngFor="let item of users">
                            <mat-option [value]="item.id">{{
                                item.name
                            }}</mat-option>
                        </ng-container>
                    </mat-select>
                </mat-form-field>
            </div>
            <mat-form-field class="w-full">
                <mat-label>Ý kiến xử lý</mat-label>
                <textarea
                    type="text"
                    [formControlName]="'message'"
                    cdkTextareaAutosize
                    #autosize="cdkTextareaAutosize"
                    cdkAutosizeMinRows="5"
                    cdkAutosizeMaxRows="5"
                    matInput
                    placeholder="Ý kiến"
                ></textarea>
            </mat-form-field>
            <div class="flex w-full justify-end">
                <button
                    type="button"
                    [disabled]="!formSend.valid"
                    mat-raised-button
                    color="primary"
                    class="rounded-md"
                    (click)="submit()"
                >
                    Chuyển Đi
                </button>
            </div>
        </form>
    </div>
</div>
